Port 22
ListenAddress 0.0.0.0

HostKey /etc/ssh/piper_host_keys/ssh_host_ed25519_key
HostKey /etc/ssh/piper_host_keys/ssh_host_rsa_key

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
AuthenticationMethods publickey
AuthorizedKeysFile .ssh/authorized_keys
UsePAM no

X11Forwarding no
AllowAgentForwarding yes
AllowTcpForwarding local
PermitTunnel no
GatewayPorts no
PermitUserEnvironment no

ClientAliveInterval 60
ClientAliveCountMax 3
MaxAuthTries 3
LoginGraceTime 30
StrictModes yes
LogLevel VERBOSE

Subsystem sftp internal-sftp
